# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Node
node_modules/
dist/

# Environment variables
.env
audio-outputs
*.js

# Ignore all files in text-inputs except example.html
audiobooking/text-inputs/*
!audiobooking/text-inputs/example.html